@page "/"
@using Car_Rental.Business.Classes;
@inject BookingProcessor bp;

<PageTitle>Car Rental</PageTitle>

<h1>Car Rental</h1>

<table class="table table-bordered table-hover caption-top w-auto">
    <caption>Vehicles</caption>
    <thead>
        <tr>
            <th>Registration Number</th>
            <th>Make</th>
            <th>Odometer</th>
            <th>Cost / Km</th>
            <th>Type</th>
            <th>$ Day</th>
            <th>Action</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" placeholder="RegNo" />
            </td>
            <td>
                <input type="text" placeholder="Make" />
            </td>
            <td>
                <input type="number" placeholder="Odometer" />
            </td>
            <td>
                <input type="number" placeholder="Cost / Km" />
            </td>
            <td>
                <input type="text" placeholder="Type" />
            </td>
            <td>
                <button class="btn btn-sm btn-outline-success">Add</button>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>

        @foreach (var vehicle in bp.GetVehicles())
        {
            <tr>
                <td class="fw-bold">@vehicle.RegNo</td>
                <td>@vehicle.Make</td>
                <td>@vehicle.Odometer</td>
                <td>@vehicle.CostKm</td>
                <td>@vehicle.Type</td>
                <td>@vehicle.CostDay</td>
                <td>
                    @if (vehicle.Status == VehicleStatuses.Available)
                    {
                        <select aria-label="Renting customer">
                            <option selected></option>
                            @foreach (var customer in bp.GetCustomers())
                            {
                                <option>@customer.LastName @customer.FirstName (@customer.SSN)</option>
                            }
                        </select>
                        <button class="btn btn-sm btn-outline-primary">Rent</button>
                    }
                    else
                    {
                        <input style="max-width: 140px;" type="number" placeholder="Distance">
                        <button class="btn btn-sm btn-outline-success">Return</button>
                    }
                </td>
                <td>
                    <span class="badge @(vehicle.Status == VehicleStatuses.Available ? "text-bg-dark" : "text-bg-danger")">
                        @vehicle.Status
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table table-bordered table-hover caption-top w-auto">
    <caption>Bookings</caption>
    <thead>
        <tr>
            <th>Registration Number</th>
            <th>Customer</th>
            <th>Km Rented</th>
            <th>Km Returned</th>
            <th>Rented</th>
            <th>Returned</th>
            <th>Cost</th>
            <th>Status</th>
        </tr>
    </thead>
    @foreach (var booking in bp.GetBookings())
    {
        <tbody>
            <tr>
                <td class="fw-bold">@booking.Vehicle.RegNo</td>
                <td>@booking.Customer.LastName @booking.Customer.FirstName (@booking.Customer.SSN)</td>
                <td>@booking.KmRented</td>
                <td>@booking.KmReturned</td>
                <td>@booking.DateRented.ToString("d\\/M\\/yyyy")</td>
                <td>@(booking.DateReturned is null ? "" : Convert.ToDateTime(booking.DateReturned).ToString("d\\/M\\/yyyy"))</td>
                <td>@booking.Cost</td>
                <td>
                    <span class="badge @(booking.DateReturned is null ? "text-bg-danger" : "text-bg-success")">
                        @(booking.DateReturned is null ? "Open" : "Closed")
                    </span>
                </td>
            </tr>
        </tbody>
    }
</table>

<table class="table table-bordered table-hover caption-top w-auto">
    <caption>Customers</caption>
    <thead>
        <tr>
            <th>SSN</th>
            <th>Last Name</th>
            <th>First Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" placeholder="SSN" />
            </td>
            <td>
                <input type="text" placeholder="Last Name" />
            </td>
            <td>
                <input type="text" placeholder="First Name" />
                <button class="btn btn-sm btn-outline-success">Add</button>
            </td>
        </tr>
        @foreach (var customer in bp.GetCustomers())
        {
            <tr>
                <td class="fw-bold">@customer.SSN</td>
                <td>@customer.LastName</td>
                <td>@customer.FirstName</td>
            </tr>
        }
    </tbody>
</table>