@page "/"
@using Car_Rental.Business.Classes;
@using Car_Rental.Common.Classes;
@inject BookingProcessor bp;

<PageTitle>Car Rental</PageTitle>

<h1>Car Rental</h1>

@* @if (bp.AddVehicleButtonWasClicked && BookingProcessor.GetVehicleFormErrors().Count > 0)
{
    <div class="alert alert-danger" role="alert">
        <h3 class="mb-4">Input errors when adding a vehicle</h3>
        <ul>
            @foreach (var error in BookingProcessor.GetVehicleFormErrors())
            {
                <li>@error</li>
            }
        </ul>
    </div>
} *@

<table class="table table-bordered table-hover caption-top w-auto">
    <caption>Vehicles</caption>
    <thead>
        <tr>
            <th>RegNo</th>
            <th>Make</th>
            <th>Odometer</th>
            <th>Cost / Km</th>
            <th>Type</th>
            <th>Cost / Day</th>
            <th>Action</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input @bind="bp.AddVehicleForm.RegNo" type="text" placeholder="RegNo" />
            </td>
            <td>
                <input @bind="bp.AddVehicleForm.Make" type="text" placeholder="Make" />
            </td>
            <td>
                <input @bind="bp.AddVehicleForm.Odometer" type="number" placeholder="Odometer" />
            </td>
            <td>
                <input @bind="bp.AddVehicleForm.CostKm" type="number" placeholder="Cost / Km" />
            </td>
            <td>
                <select @bind="bp.AddVehicleForm.Type">
                    <option selected></option>
                    @foreach (var type in Enum.GetNames(typeof(VehicleTypes)))
                    {
                        <option>@type</option>
                    }
                </select>
            </td>
            <td>
                <input @bind="bp.AddVehicleForm.CostDay" type="number" placeholder="Cost / Day" />
            </td>
            <td>
                <button @onclick="bp.OnAddVehicleSubmit" class="btn btn-sm btn-outline-success">Add</button>
            </td>
            <td>
            </td>
        </tr>

        @foreach (var vehicle in bp.GetVehicles())
        {
            <tr>
                <td class="fw-bold">@vehicle.RegNo</td>
                <td>@vehicle.Make</td>
                <td>@vehicle.Odometer</td>
                <td>@vehicle.CostKm</td>
                <td>@vehicle.Type</td>
                <td>@vehicle.CostDay</td>
                <td>
                    @if (vehicle.Status == VehicleStatuses.Available)
                    {
                        <select aria-label="Renting customer">
                            <option selected></option>
                            @foreach (var customer in bp.GetCustomers())
                            {
                                <option>@customer.LastName @customer.FirstName (@customer.SSN)</option>
                            }
                        </select>
                        <button class="btn btn-sm btn-outline-primary">Rent</button>
                    }
                    else
                    {
                        <input style="max-width: 140px;" type="number" placeholder="Distance">
                        <button class="btn btn-sm btn-outline-success">Return</button>
                    }
                </td>
                <td>
                    <span class="badge @(vehicle.Status == VehicleStatuses.Available ? "text-bg-dark" : "text-bg-danger")">
                        @vehicle.Status
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table table-bordered table-hover caption-top w-auto">
    <caption>Bookings</caption>
    <thead>
        <tr>
            <th>Registration Number</th>
            <th>Customer</th>
            <th>Km Rented</th>
            <th>Km Returned</th>
            <th>Rented</th>
            <th>Returned</th>
            <th>Cost</th>
            <th>Status</th>
        </tr>
    </thead>
    @foreach (var booking in bp.GetBookings())
    {
        <tbody>
            <tr>
                <td class="fw-bold">@booking.Vehicle.RegNo</td>
                <td>@booking.Customer.LastName @booking.Customer.FirstName (@booking.Customer.SSN)</td>
                <td>@booking.KmRented</td>
                <td>@booking.KmReturned</td>
                <td>@booking.DateRented.ToString("d\\/M\\/yyyy")</td>
                <td>@(booking.DateReturned is null ? "" : Convert.ToDateTime(booking.DateReturned).ToString("d\\/M\\/yyyy"))</td>
                <td>@booking.Cost</td>
                <td>
                    <span class="badge @(booking.DateReturned is null ? "text-bg-danger" : "text-bg-success")">
                        @(booking.DateReturned is null ? "Open" : "Closed")
                    </span>
                </td>
            </tr>
        </tbody>
    }
</table>

@if (bp.AddCustomerButtonWasClicked && BookingProcessor.GetCustomerFormErrors(customerForm).Count > 0)
{
    <div class="alert alert-danger" role="alert">
        <h3 class="mb-4">Input errors when adding a customer</h3>
        <ul>
            @foreach (var error in BookingProcessor.GetCustomerFormErrors(customerForm))
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<table class="table table-bordered table-hover caption-top w-auto">
    <caption>Customers</caption>
    <thead>
        <tr>
            <th>SSN</th>
            <th>Last Name</th>
            <th>First Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input @bind="customerForm.SSN" type="text" placeholder="SSN" />
            </td>
            <td>
                <input @bind="customerForm.LastName" type="text" placeholder="Last Name" />
            </td>
            <td>
                <input @bind="customerForm.FirstName" type="text" placeholder="First Name" />
                <button @onclick="() => bp.OnAddCustomerSubmit(customerForm)" class="btn btn-sm btn-outline-success">Add</button>
            </td>
        </tr>
        @foreach (var customer in bp.GetCustomers())
        {
            <tr>
                <td class="fw-bold">@customer.SSN</td>
                <td>@customer.LastName</td>
                <td>@customer.FirstName</td>
            </tr>
        }
    </tbody>
</table>

@code {
    Customer customerForm = new();
}