@page "/"
@using Car_Rental.Business.Classes;
@using Car_Rental.Common.Classes;
@using Car_Rental.Common.Error;
@using static Car_Rental.Common.Error.ErrorTypes;
@using Car_Rental.Common.Interfaces;
@using Car_Rental.Common.Enums;

@inject BookingProcessor bp;
@inject ErrorTracker et;
@inject NavigationManager nm;

@{
    if (et.GetError(e => e.Type == CRITICAL_ERROR && e.Active) is not null)
        nm.NavigateTo("/error");
}

<PageTitle>Car Rental</PageTitle>

<h1>Car Rental</h1>

<ErrorList Errors="et.GetErrors(e => e.Active
                                     && e.Source is ErrorSources.AddVehicle
                                     or ErrorSources.AddVehicleForm
                                     or ErrorSources.RentVehicle
                                     or ErrorSources.ReturnVehicle)" />

<table class="vehicles table table-borderless border border-dark table-hover caption-top w-auto">
    <caption class="fs-4 text-dark">Vehicles</caption>
    <thead>
        <tr>
            <th class="bg-dark text-secondary">RegNo</th>
            <th class="bg-dark text-secondary">Make</th>
            <th class="bg-dark text-secondary">Odometer</th>
            <th class="bg-dark text-secondary">Cost / Km</th>
            <th class="bg-dark text-secondary">Type</th>
            <th class="bg-dark text-secondary">Cost / Day</th>
            <th class="bg-dark text-secondary">Action</th>
            <th class="bg-dark text-secondary">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input @bind="bp.VehicleForm.RegNo" @bind:event="oninput" type="text" placeholder="RegNo" disabled="@bp.Processing" />
            </td>
            <td>
                <input @bind="bp.VehicleForm.Make" @bind:event="oninput" type="text" placeholder="Make" disabled="@bp.Processing" />
            </td>
            <td>
                <input @bind="bp.VehicleForm.Odometer" @bind:event="oninput" type="number" placeholder="Odometer" disabled="@bp.Processing" />
            </td>
            <td>
                <input @bind="bp.VehicleForm.CostKm" @bind:event="oninput" type="number" placeholder="Cost / Km" disabled="@bp.Processing" />
            </td>
            <td>
                <select @bind="bp.VehicleForm.Type" disabled="@bp.Processing">
                    <option selected hidden disabled>Select type</option>
                    @foreach (string type in bp.VehicleTypeNames)
                    {
                        <option>@type</option>
                    }
                </select>
            </td>
            <td>
                <input @bind="bp.VehicleForm.CostDay" @bind:event="oninput" type="number" placeholder="Cost / Day" disabled="@bp.Processing" />
            </td>
            <td>
                <button @onclick="bp.AddVehicle" class="btn btn-sm btn-outline-success" disabled="@bp.Processing">Add</button>
            </td>
            <td>
                @if (bp.Processing)
                {
                    <span class="badge text-bg-warning text-white">
                        Processing
                    </span>
                }
            </td>
        </tr>

        @foreach (Vehicle vehicle in bp.Get<Vehicle>())
        {
            IBooking? booking = bp.Single<IBooking>(b => b.Id == vehicle.BookingId);
            <tr>
                <td class="fw-bold">@vehicle.RegNo</td>
                <td>@vehicle.Make</td>
                <td>@vehicle.Odometer</td>
                <td>@vehicle.CostKm</td>
                <td>@vehicle.Type</td>
                <td>@vehicle.CostDay</td>
                <td>
                    @if (vehicle.Status == VehicleStatuses.Available)
                    {
                        <select @bind="bp.RentingCustomerId" aria-label="Renting customer" disabled="@bp.Processing">
                            <option selected hidden disabled>Select customer</option>
                            @foreach (IPerson customer in bp.Get<IPerson>())
                            {
                                <option value="@customer.Id">@customer.LastName @customer.FirstName (@customer.SSN)</option>
                            }
                        </select>
                        <button disabled="@(bp.RentingCustomerId is null || bp.Processing)"
                                @onclick="(async() => {
                                    if (bp.RentingCustomerId is null) {
                                        et.ActivateError(ErrorTypes.VEHICLE_RENTING_CUSTOMER_ID_NULL);
                                        return;
                                    }
                                    await bp.RentVehicle(vehicle.Id, (int)bp.RentingCustomerId);
                                })"
                                class="btn btn-sm btn-outline-primary">
                            Rent
                        </button>
                    }
                    else if (booking is not null)
                    {
                        <input @bind="booking.KmDistance" @bind:event="oninput" disabled="@bp.Processing" style="max-width: 140px;" type="number" placeholder="Distance">
                        <button disabled="@(booking.KmDistance is null || bp.Processing)" @onclick="(() => bp.ReturnVehicle(vehicle.Id))" class="btn btn-sm btn-outline-success">Return</button>
                    }
                </td>
                <td>
                    <span class="badge @(vehicle.Status == VehicleStatuses.Available ? "text-bg-dark" : "text-bg-danger")">
                        @vehicle.Status
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="bookings table table-hover border border-secondary caption-top w-auto">
    <caption class="fs-4 text-dark">Bookings</caption>
    <thead>
        <tr>
            <th class="bg-dark text-secondary">Registration Number</th>
            <th class="bg-dark text-secondary">Customer</th>
            <th class="bg-dark text-secondary">Km Rented</th>
            <th class="bg-dark text-secondary">Km Returned</th>
            <th class="bg-dark text-secondary">Rented</th>
            <th class="bg-dark text-secondary">Returned</th>
            <th class="bg-dark text-secondary">Cost</th>
            <th class="bg-dark text-secondary">Status</th>
        </tr>
    </thead>
    @foreach (IBooking booking in bp.Get<IBooking>())
    {
        Vehicle? vehicle = bp.Single<Vehicle>(v => v.Id == booking.VehicleId);
        IPerson? customer = bp.Single<IPerson>(c => c.Id == booking.CustomerId);
        <tbody>
            <tr>
                <td class="fw-bold">@vehicle?.RegNo</td>
                <td>@customer?.LastName @customer?.FirstName (@customer?.SSN)</td>
                <td>@booking.KmRented</td>
                <td>@booking.KmReturned</td>
                <td>@booking.DateRented.ToString()</td>
                <td>@booking.DateReturned.ToString()</td>
                <td>@booking.Cost</td>
                <td>
                    <span class="badge @(booking.DateReturned is null ? "text-bg-danger" : "text-bg-success")">
                        @(booking.DateReturned is null ? "Open" : "Closed")
                    </span>
                </td>
            </tr>
        </tbody>
    }
</table>

<ErrorList Errors="et.GetErrors(e => e.Active
                                     && e.Source is ErrorSources.AddCustomer 
                                                 or ErrorSources.AddCustomerForm)" />

<table class="customers table-hover table border border-secondary caption-top w-auto">
    <caption class="fs-4 text-dark">Customers</caption>
    <thead>
        <tr>
            <th class="bg-dark text-secondary">SSN</th>
            <th class="bg-dark text-secondary">Last Name</th>
            <th class="bg-dark text-secondary">First Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input @bind="bp.CustomerForm.SSN" @bind:event="oninput" type="text" placeholder="SSN" />
            </td>
            <td>
                <input @bind="bp.CustomerForm.LastName" @bind:event="oninput" type="text" placeholder="Last Name" />
            </td>
            <td>
                <input @bind="bp.CustomerForm.FirstName" @bind:event="oninput" type="text" placeholder="First Name" />
                <button @onclick="bp.AddCustomer" class="btn btn-sm btn-outline-success">Add</button>
            </td>
        </tr>
        @foreach (IPerson customer in bp.Get<IPerson>())
        {
            <tr>
                <td class="fw-bold">@customer.SSN</td>
                <td>@customer.LastName</td>
                <td>@customer.FirstName</td>
            </tr>
        }
    </tbody>
</table>